@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');
@import url('https://fonts.googleapis.com/css?family=Orbitron');

BODY{
    font-family: 'Roboto',sans-serif,'Arial';
    background: white/*#343C45*/;
    color: gray;
}
BLOCKQUOTE{
    color: black;
    font-style: italic;
}
@media (min-width: 1200px){
    video {
        width: 976px;
    }
    .image img {
        margin-top: 100px;
        margin-left: 64%;
    }
    .image p {
        font-size: 1.5em;
    }
    .image p.large {
         font-size: 3em;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    video {
        width: 976px;
    }
    .image img {
        margin-top: 100px;
        margin-left: 64%;
    }
    .image p {
        font-size: 1.5em;
    }
    .image p.large {
         font-size: 3em;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    video {
        width: 100%;
    }
    .image img {
        margin-top: 50px;
        margin-left: 64%;
    }
    .image p {
        font-size: 1.5em;
    }
    .image p.large {
         font-size: 3em;
    }
}
@media (max-width: 767px){
    video {
        width: 100%;
    }
    .image img {
        margin-top: 25px;
        width: 35.5%;
        margin-left: 64%;
    }
    .image p {
        font-size: 1em;
    }
    .image p.large {
        font-size: 2em;
    }
}

video {
    height: auto !important;
}

@keyframes img {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.image {
    position: absolute;
    top: 10px;
    width: 95%;
}
.image img {
    border-radius: 100%;
    transition: margin 0.5s;
    animation-name: img;
    animation-duration: 6s;
    animation-iteration-count: 1;
    /*box-shadow: -6px 0px 3px #232629;*/
}
.image p {
    text-align: right;
    animation-name: img;
    animation-duration: 6s;
    animation-iteration-count: 1;
}
.image p {
    color: lightgray;
    transition: font-size 0.5s;
}
.image p.large {
    font-family: 'Orbitron','Roboto',sans-serif,'Arial';
    margin-top: 20px;
    text-shadow: -6px 0px 3px #232629;
    color: white;
}

.image p b {
    font-family: 'Orbitron','Roboto',sans-serif,'Arial';
    color:#6C9E37;
    /*text-shadow: -6px 0px 3px #232629;*/
}
.row{
    width: 100%;
    padding: 0;
    margin: 0;
}

.row-1 {
    background-color: black;
    box-shadow: 3px 3px 3px 3px #232629;
}

.row-2 {
    background-color: white;
}